.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}
img{
    height: 100px;
    width: 100px;
}
.editar-descrição{
    border: 3px solid #ca2d2d;
    border-radius: 15px;
    border-color: #ca2d2d;
    width: 200px;
    height: 400px;
    padding-left: 30px;
    padding-top: 30px;
}

.editar-perfil{
    border: 3px solid #030303;
    border-radius: 15px;
    border-color: var(--bege);
    width: 600px;
    height: 400px;
    padding-left: 50px;
}
